<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup]="addForm" (ngSubmit)="onUpdate()">
        <div class="form-group">
          <label class="col-md-4">Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
        <div *ngIf="addForm.get('name').invalid && (addForm.get('name').dirty || addForm.get('name').touched)" class="alert alert-danger">
          <div>
            Name is required.
          </div>
        </div>
  
        <div class="form-group">
            <label class="col-md-4">Userame</label>
            <input type="text" class="form-control" formControlName="username" />
          </div>
          <div *ngIf="addForm.get('username').invalid && (addForm.get('username').dirty || addForm.get('username').touched)" class="alert alert-danger">
            <div>
              Username is required.
            </div>
          </div>
  
          <div class="form-group">
              <label class="col-md-4">Password</label>
              <input type="password" class="form-control" formControlName="password" />
            </div>
            <div *ngIf="addForm.get('password').invalid && (addForm.get('password').dirty || addForm.get('password').touched)" class="alert alert-danger">
              <div>
                Password is required.
              </div>
            </div>
        
        
          <div class="form-group">
            
            <button class="btn btn-primary" type="submit" [disabled]="addForm.pristine || addForm.invalid">Update</button>
          </div>
      </form>
    </div>
  </div>
  