<div class="panel panel-primary">
    <div class="panel-heading">
      {{ title }}
    </div>
    <div class="panel-body">
      <form [formGroup]="addForm" (ngSubmit)="onUpdate()">
        <div class="form-group">
          <label class="col-md-4">Patient Name</label>
          <input type="text" class="form-control" formControlName="patientName" />
        </div>
        <div *ngIf="addForm.get('patientName').invalid && (addForm.get('patientName').dirty || addForm.get('patientName').touched)" class="alert alert-danger">
          <div>
            Name is required.
          </div>
        </div>
  
        <div class="form-group">
            <label class="col-md-4">Appointment Time</label>
            <input type="text" class="form-control" formControlName="appointmentTime" />
          </div>
          <div *ngIf="addForm.get('appointmentTime').invalid && (addForm.get('appointmentTime').dirty || addForm.get('appointmentTime').touched)" class="alert alert-danger">
            <div>
              appointmentTime is required.
            </div>
          </div>
  
          
        
          <div class="form-group">
            
            <button class="btn btn-primary" type="submit" [disabled]="addForm.pristine || addForm.invalid">Update</button>
          </div>
      </form>
    </div>
  </div>
  