<table class="table table-hover">
    <thead>
    <tr>
        <td>Name</td>
        <td>Username</td>
        <td>Role</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td *ngIf="user.role==1">Admin sb.</td>
            <td *ngIf="user.role==3">Doctor</td>
            <td *ngIf="user.role==2">Patient</td>
            <td><a [routerLink]="['/edit', user._id]" class="btn btn-primary">Edit</a></td>
            <td><button (click)="deleteUser(user._id)"  class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
  </table>
  