<table class="table table-hover">
    <thead>
    <tr>
        <td>Patient ID</td>
        <td>Patient Name</td>
        <td>Appointment Time</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let booking of bookings">
            <td>{{ booking.id }}</td>
            <td>{{ booking.patientName }}</td>
            <td>{{ booking.appointmentTime }}</td>
            <td><a (click)="onEditBooking(booking.id)" class="btn btn-primary">Edit</a></td>
          <td><button (click)="onDeleteBooking(booking.id)"  class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
  </table>
  