<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="create" routerLinkActive="active">
          Create Admin
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="index">
          View Users
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="doctors">
          View Doctors
        </a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="bookings">
            View Bookings
          </a>
        </li>
      
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
